doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='public/styles/style.css')
  title TED
header
  .header-icon
    img(src='public/images/teddy-bear.svg' alt='bear')
    h1 The Bear
  h3.header-sub Automated Student Registration System (ASRS)
  p.header-min designed and built by Billy Chubb


main
  section.sect-col.col-left 
    h2 Are students signing IN or Out?

    form(action='/ATTENTION' method='post' id="reg")
    
      button(name="BUTTON" value="IN" id="in") IN
      button(name="BUTTON" value="OUT" id="out") OUT
  section.sect-col.col-mid
    h2 The Bear's friends:
    .friends-cont
      ul.friends
        each val in friends
          li= val
    h2 Register
    a(href="/register") click here to access the register 
  section.sect-col.col-right
    form.bear-form(action='/speak' method='post')
      h2 Type something for the bear to say!
      p
        | Interact with and communicate through the bear with this text box, simply type your message and the bear will say it out loud.
      div
        input(type='text' name='text' placeholder='TYPE:')
        button(type='submit') Say
    form.bear-form.sens(action='/sens' method='post')
      h2 How sensitive would you like student detection?
      div
        button#low(type="radio" value="0.5" name="sens")
        label(for="low") Low 
        button#med(type="radio" value="0.6" name="sens")
        label(for="med") Medium 
        button#high(type="radio" value="0.8" name="sens")
        label(for="high") High 

script(src='public/js/scripts.js')
