<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="header-icon">
            <img src="../images/teddy-bear.svg" alt="bear">
            <h1>The Bear</h1>
        </div>
        <h3 class="header-sub">Automated Registration System (ARS)</h3>
        <p class="header-min">designed and built by Billy Chubb</p>

    </header>
    <main>
        <section class="sect-col col-left reg-main">
            <table class="reg-table">
                <tr>
                <th>PID</th>
                <th>Student</th>
                <th>Last Sign-In</th>
                <th>Last Sign-Out</th>
                <th>Status</th>
                </tr>
                <tr>
                    <td class="pid"></td>
                    <td class="name">billy chubb</td>
                    <td class="sign"></td>
                    <td class="sign"></td>
                    <td class="status"></td>
                </tr>
        </table>
        </section>
        <section class="sect-col col-right reg-side"></section>
    </main>  
</body>
</html>